page-play-online {
#l3 {
    text-align: left;
    margin-left: 20px;
    margin-top : 10%;
}
#l4 {
    text-align: left;
    margin-left: 40px;
    border: 2px solid;
    color: white;
    margin: 0px 60px -1px;
}
#b1 {
    margin-top: 10%;
}
}
