page-join-a-room-2 {
#l1 {
    margin-top: 5%;
}
#l2 {
    font-size: 22px;
    border: 4px dotted;
    margin: 0px 250px 0px;
}
#l3 {
    text-align: left;
    margin-left: 20px;
}
#l4 {
    text-align: left;
    margin-left: 40px;
    border: 2px solid;
    color: white;
    margin: 0px 60px -1px;
}
#b1 {
    margin-top: 10%;
}
#img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 2%;
}
#name {
    margin-top: -9%;
    margin-bottom: 7%;
    margin-left: -30%;
}
.gr {
    background-color: green;
}
.re {
    background-color: red;
}
.b2 {
    margin-top: 3%;
}
}
