page-join-a-room {
#b1 {
    margin-top: 10%;
}
#b2 {
    margin-top: 5%;
    color: white;
    border: 2px solid;
    border-radius: 10px;
    width: 50%;
    margin: auto;
}
#b3 {
    margin-top: 5%;
}
#camera {
    width: 5%;
    position: absolute;
    margin-left: 75%;
    margin-top: -6%;
}
}
